@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  
  
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

    font-family: 'Inter', sans-serif;
    color:white;
    background-color: black;
    cursor: crosshair;
}
body{
    padding: 2rem;
}
/* Aplicamos CSS a los elementos del header */

.header{
    width: 100%;
   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    position: relative;
}

.btn__menu{
    display:none;

    width: 40px;

    position: absolute;
    left: 20px;
    top: calc(50% - (40px/2));
    
    cursor: pointer;

    z-index: 1;
}

.header__h1{
    width: 7rem;  
    /* background-color: red; */
    position: absolute;
    
    
}

.header__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
    gap: 2rem;
}

.header__li{
    font-weight: 600;
    font-size: .8125rem;

    color:white;
    overflow: hidden;
}

.header__icono{
    width: 1.875rem;
    transition: all 0.5s ease;
}


/* Aplicamos CSS al main */
    /* Comenzamos por la seccion hero */

.hero{
    /* background-color: green; */
    width: 100%;
    padding-top: 2rem ;
}

.hero__texto{
    
    font-size: 7.5rem;
    font-weight: 600;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    animation: fadeInDown 0.6s linear;
}
.hero__img{ 
    width: 100%;
    padding: 0rem 5.5rem ;
    
    position: relative;
}

.img{
    width: 15.625rem;
    position: absolute;

    animation: fadeIn 3s  linear ;
}


.img.ojo{
    bottom:40px;
    right:30px;  
}

.img.labios{
    bottom:200px;
    transform: rotate(10deg);
}

.img.mano{
    right:12px;
    bottom:300px;
   
    transform: rotate(35deg);
}

/* Crearemos la  segunda seccion con grid */

.works{
    width: 100%;
    
    padding: 3rem 0rem 10rem;
    /* background-color: aqua; */    
}
.works__grid{
    width: 100%;
    height: 100vh;
    
    display:grid;
    grid-template-columns: repeat(auto-fit, min-max(100px, 1fr));

    grid-gap: .625rem;  
}
.icono{
    width: 2.1875rem;
    /* background-color: red; */
}
.texto{
    display:flex;
    flex-flow: column nowrap;
}
.titulo{
    font-weight: 600;
}
.tool{
    font-size: .625rem;
}

.titular{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap:0.5rem;
}

.grid__section{
    border-radius: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    gap: 1rem;
    padding: 2rem 1rem; 

    transition: all 0.5s ease;
}
.tittle{
    background-color: black;
    grid-column: 2 span;
    grid-row: 2 span;
}

.titulo__texto{
    font-size: 5rem;
    font-weight: 600;
}
.grid__section.editorial{
    background-image: url(../assets/projects/alasombra_bolsa.jpg);
    grid-column: 2 span;
}
.grid__section.pet{
    background-image: url(../assets/projects/pp_portada.webp); 
}
.grid__section.rococo{
    background-image: url(../assets/projects/rococo_portada.jpg);
    grid-column: 2 span;
}
.grid__section.snackeen{
    background-image: url(../assets/projects/snackeen_papeleria.webp);
}
.grid__section.cartel{
    background-image: url(../assets/projects/cartel_carlos_open.jpg);
   
}
.grid__section.webdesign{
    background-image: url(../assets/projects/js_portada.jpg);
    
}

/* La tercera sección será una introducción al about  */
.about{
    padding: 5rem 0rem 7rem;
}

.about__span{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;

    /* background-color: palegreen; */

    margin-bottom: 4rem;  
}

.about__ul{
    margin-top: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.ul__li{
    font-size: 1.5625rem;
    border: .0625rem solid white;
    padding: .5rem 1rem;
    border-radius: 3.125rem;

    transition: all 0.5s ease;
}

/* Última sección de la home */
    /* Form basado en enviar un email */

.contact{
    width: 100%;
    padding-top: 1rem;
    /* background-color: pink; */
}
.contact__tittle{
    font-size: 3.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.25rem;

}
.contact__p{
    font-weight: 600;
    line-height: 1.625rem;
}
.contact__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1.875rem;
    gap:1rem;
}
.container__message{
    font-weight: 600;
    font-size: .625rem;
    color:black;
    background-color: white;
    width: 80%;
    padding: 2rem 1rem;
    border-radius: 1.25rem;
}

.container__btn{
    width: 20%;
    font-size: .625rem;
    font-weight: 600;

    color:rgb(117, 117, 117);
    background-color: white;

    padding: 2rem 1rem;
    border-radius: 1.25rem;
}
.footer{
    width: 100%;
    padding-top: 10rem; 

    font-size: .75rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

    text-transform: uppercase;
}

.footer__ul{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    gap: 1rem;
}

.footer__li{
    display:flex;
    flex-flow: row nowrap;
    gap: .625rem;
    font-weight: 600;

    transition: all 0.5s ease;
}



/* Efecto lineas en movimiento al hacer hover */
.img:hover{
    animation: jump 0.5s linear;
}
.header__li:hover::after{

    display:block;
    content: '';
    background-color: white;
    margin-top: 2px;

    width: 1.5625rem;
    height: 1px;

    animation: slideRight 0.2s linear;
   
}

.ul__li:hover{
    color:black;
    background-color: white;
}
.footer__li:hover{
    color: rgba(255, 255, 255, 0.539);

}
.footer__li::after{
    display: block;
    content: '';
    background-color: white;
    width: .0625rem;
    height: .875rem;
}
.footer__li:last-child::after{
    display: none;
}


.grid__section:hover{
    transform: scale(1.01);
}
  

@keyframes fadeInDown{
    from{
        transform: translateY(-100%);
        opacity:0;
    }

    to{
        transform: translateY(0%);
        opacity: 1;
    }

}

@keyframes fadeIn{
    from{
        opacity:0;
    }

    to{
        opacity: 1;
    }
}

@keyframes slideRight{
    from{
        transform: translateX(-100%);
    }

    to{
        transform: translateX(0%);
    }

}
@keyframes jump{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(10%);
    }

    100%{
        transform: translateY(0%);
    }

}



/* Activamos los valores del responsive */
    /* Cuando el ancho de la pantalla es 900px, varian tamaños de las fuentes */
    

@media (max-width:900px){

    .hero__texto{
        font-size: 100px;
    }
    .titulo__texto{
        font-size: 2.3rem;
    }
    .img{
        width: 10.625rem;
    }
    .contact__tittle{
        font-size: 3.125rem ;
    }
   
    .btn__menu{
        display: block;
        z-index: 2;
        left:0;
        top:0;
        width: 30px;
    }
    .header__h1{
        right: calc(50% - (100px/2));
    }
    
    /* Creamos un menú responsive */
    .header__nav{
        width: 100%;
        height: 100vh;

        background-color: white;

        position: fixed;
        right:0;
        top:0px;

        z-index: 1;

        transform: translateY(-200%);
    }
    .header__ul{
        display:flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 2rem;

        margin-top: 5rem; 
    }
    .header__li{
        color: black;
        font-size: 3.75rem;
        transition: all 0.5s ease;
    }
    .header__li:hover{
        color: rgba(0, 0, 0, 0.12);
    }
    .header__nav.active{
        transform: translateY(0%);

    }
    .img.ojo{
        bottom:40px;
        right:30px;  
    }
    
    .img.labios{
        bottom:80px;
        transform: rotate(10deg);
    }
    
    .img.mano{
        right:5px;
        bottom:230px;
       
        transform: rotate(35deg);
    }
}

@media(max-width: 770px){
    .hero__texto{
        font-size: 70px;
    }
    .header__h1{
      width: 5.625rem;
    }
    .titulo__texto{
        font-size: 1.9rem;
    }
    .footer{
      font-size: .625rem;
    }
    .programs__li{
      font-size: .625rem;
    }
    .ul__li{
        font-size: 1rem;
    }
    
    .contact__tittle{
        font-size: 2.1875rem;
    }
    .contact__p{
        font-size: .75rem;
        font-weight: 500;
        line-height: 1.0625rem;
    }
    .programs__li{
        font-size: .4375rem;
    }
    .img.labios{
        bottom:80px;
        left: 20px;
        transform: rotate(10deg);
    }
    
   
  
}
  
@media(max-width:600px){
    .footer{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
  
      gap: 1rem;
    }
    .programs__li{
        font-size: .3125rem;
    }
    .img{
        width: 7.5rem;
    }
    
    
    
}

@media(max-width:480px){
    .footer{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
  
      gap: 1rem;
    }
    .programs__li{
        font-size: .3125rem;
    }
    .img{
        width: 7.5rem;
    }
        
}
